@model DigiStore.Core.ViewModels.StoreActivateViewModel

@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">فعالسازی فروشگاه</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">برای تایید حساب کاربری اقدام فرمایید</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="box bg-pale-success">
                <div class="box-header">
                    <h4 class="box-title"><strong>@TempData["SuccessTitle"]</strong></h4>
                    <div class="box-tools pull-right">
                        <ul class="box-controls">
                            <li><a class="box-btn-close" href="#"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="box-body">
                    <h5>@TempData["SuccessMessage"]</h5>
                </div>
            </div>
        }

        @* پیام خطا *@
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="box bg-pale-danger">
                <div class="box-header">
                    <h4 class="box-title"><strong>@TempData["ErrorTitle"]</strong></h4>
                    <div class="box-tools pull-right">
                        <ul class="box-controls">
                            <li><a class="box-btn-close" href="#"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="box-body">
                    <h5>@TempData["ErrorMessage"]</h5>
                </div>
            </div>
        }

        <div class="col-lg-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">فعالسازی حساب کاربری</h4>
                </div>
                <form asp-action="Activate" class="form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="box-body">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ti-key"></i></span>
                                    </div>
                                    <input asp-for="MobileCode" type="text" class="form-control persian-numbers" placeholder="کد فعال سازی موبایل">
                                </div>
                                <span asp-validation-for="MobileCode" class="text-danger d-block mt-1"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ti-key"></i></span>
                                    </div>
                                    <input asp-for="MailCode" type="text" class="form-control persian-numbers validation-error" placeholder="کد فعال سازی ایمیل">
                                </div>
                                <span asp-validation-for="MailCode" class="text-danger d-block mt-1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="submit" value="فعالسازی حساب" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section ScriptManager {

}