@model DigiStore.DataAccessLayer.Entities.Banner


@{
    bool isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";

    if (!isAjax)
    {
        // ریدایرکت با استفاده از HttpContext
        Context.Response.Redirect("/");
        return; // جلوگیری از ادامه رندر
    }
    Layout = null;
}

<div class="card border-0 rounded-3 overflow-hidden">

    <!-- بدنه کارت -->
    <div class="card-body">
        <div class="row mb-5">
            <!-- جزئیات اسلایدر سمت راست -->
            <div class="col-md-7">
                <div class="row text-right">
                    <div class="col-12 mb-4">
                        <strong class="h5"><i class="fa fa-tag text-facebook mr-1"></i> نام جایگاه:</strong>
                        <span class="h6">@Model.Name</span>
                    </div>
                    <div class="col-12 mb-4">
                        <strong class="h5"><i class="fa fa-tag text-facebook mr-1"></i> قیمت اجاره:</strong>
                        <span class="h6">@Model.Price.ToString("n0") ریال</span>
                    </div>
                    <div class="col-12 mb-4">
                        <strong class="h5"><i class="fa fa-tag text-facebook mr-1"></i> تعداد روز:</strong>
                        <span class="h6">@Model.Day روز</span>
                    </div>
                    <div class="col-12 mt-4">
                        <strong class="h5"><i class="fa fa-align-left text-facebook mr-1"></i> توضیحات:</strong>
                        <p class="h6">@Html.Raw(Model.Description)</p>
                    </div>
                </div>
            </div>
            <!-- تصویر اسلایدر سمت چپ -->
            <div class="col-md-5 mb-4">
                <img src="~/Images/Ads/@Model.DefaultImage"
                     class="img-fluid rounded shadow"
                     alt="تصویر جایگاه پیدا نشد"
                     style="max-height:500px; width:100%; transition: transform .3s; cursor: pointer;"
                     onmouseover="this.style.transform='scale(1.05)'"
                     onmouseout="this.style.transform='scale(1)'" />
            </div>
        </div>
    </div>
</div>

