@model DigiStore.Core.ViewModels.UpdateStoreCategoryViewModel

@{
    bool isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";

    if (!isAjax)
    {
        // ریدایرکت با استفاده از HttpContext
        Context.Response.Redirect("/");
        return; // جلوگیری از ادامه رندر
    }
    Layout = null;
}


<form asp-action="EditStoreCategory" id="MyForm" enctype="multipart/form-data" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <!-- تصویر مدرک سمت چپ -->
        <div class="col-md-5 text-center mb-4 order-md-2 order-1">
            <img src="~/Images/Users/Stores/@Model.Image"
                 alt="تصویر مدرک پیدا نشد"
                 class="img-fluid rounded shadow"
                 style="max-height:400px; width:100%; transition: transform .3s; cursor: pointer;"
                 onmouseover="this.style.transform='scale(1.05)'"
                 onmouseout="this.style.transform='scale(1)'" />
        </div>

        <!-- فیلدهای فرم سمت راست -->
        <div class="col-md-7 order-md-1 order-2">
            <!-- وضعیت نمایش -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive" id="basic_checkbox_2" checked="@Model.IsActive" />
                    <label class="form-check-label" for="basic_checkbox_2">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ti-pencil"></i> توضیحات</span>
                    </div>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input type="submit" value="ویرایش" class="btn btn-success btn-block" />
</form>

<script>


    // قبل از submit فرم، محتوا را به textarea منتقل کن
    document.querySelector('form').addEventListener('submit', function (e) {
        for (var instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });

    CKEDITOR.replace('Description', {
        contentsCss: ['~/CSS/Font.css'], // CSS فونت‌ها
        font_names: 'Iransans;' // فونت‌های نمایش داده شده در Toolbar
    });
</script>

