@model DigiStore.Core.ViewModels.CategoryViewModel

@{
    bool isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";

    if (!isAjax)
    {
        // ریدایرکت با استفاده از HttpContext
        Context.Response.Redirect("/");
        return; // جلوگیری از ادامه رندر
    }
    Layout = null;
}


<form asp-action="EditCategory" id="MyForm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ti-pencil"></i></span>
            </div>
            <input asp-for="Name" class="form-control" placeholder="نام دسته" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @if (Model.IsTopLevel)
    {
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ti-pencil"></i></span>
                </div>
                <input asp-for="Icon" class="form-control" placeholder="نام آیکون" />
            </div>
            <span asp-validation-for="Icon" class="text-danger"></span>
        </div>
    }
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="submit" value="ذخیره تغییرات" class="btn btn-success btn-block" />
        </div>
    </div>
</form>