@model DigiStore.Core.ViewModels.AdminBrandViewModel

@{
    bool isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";

    if (!isAjax)
    {
        // ریدایرکت با استفاده از HttpContext
        Context.Response.Redirect("/");
        return; // جلوگیری از ادامه رندر
    }
    Layout = null;
}

<form asp-action="EditBrand" enctype="multipart/form-data" id="MyForm" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <!-- تصویر برند سمت چپ -->
        <div class="col-md-5 text-center mb-4 order-md-2 order-1">
            <img src="~/Images/Brands/@Model.ImageName"
                 alt="تصویری یافت نشد"
                 class="img-fluid rounded shadow"
                 style="max-height:300px; width:100%; transition: transform .3s; cursor: pointer;"
                 onmouseover="this.style.transform='scale(1.05)'"
                 onmouseout="this.style.transform='scale(1)'" />
        </div>

        <!-- فیلدهای فرم سمت راست -->
        <div class="col-md-7 order-md-1 order-2">
            <!-- نام برند -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ti-pencil"></i></span>
                    </div>
                    <input asp-for="Name" class="form-control" placeholder="نام برند" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!-- انتخاب عکس برند -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ti-file"></i> انتخاب عکس برند</span>
                    </div>
                    <input asp-for="Image" type="file" class="form-control" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <!-- وضعیت نمایش -->
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="NotShow" id="basic_checkbox_2" />
                    <label class="form-check-label" for="basic_checkbox_2">
                        @Html.DisplayNameFor(model => model.NotShow)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="ویرایش" class="btn btn-success btn-block" />
</form>
